@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+NG+Modern:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Hershey-Noailles-Futura-Duplex';
    font-style: normal;
    font-weight: 500;
    src: url('/Hershey-Noailles-Futura-Duplex-Regular.ttf');
    src: local(''), url('/Hershey-Noailles-Futura-Duplex-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hershey-Noailles-Futura-Duplex';
    font-style: bold;
    font-weight: 700;
    src: url('/Hershey-Noailles-Futura-Duplex-Bold.ttf');
    src: local(''), url('/Hershey-Noailles-Futura-Duplex-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Hershey-Noailles-Times-Duplex-Italic-Light';
    font-style: italic;
    font-weight: 500;
    src: url('/Hershey-Noailles-Times-Duplex-Italic-Light.ttf');
    src: local(''), url('/Hershey-Noailles-Times-Duplex-Italic-Light.ttf') format('truetype');
}

em {
    font-family: 'UbuntuRegularItalic', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

strong {
    font-family: 'UbuntuBold', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: 'Hershey-Noailles-Futura-Duplex-Regular', 'Arial', sans-serif;
    background-color: rgb(255, 255, 248);
}


input {
    mix-blend-mode: multiply;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}