@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Hershey-Noailles-Futura-Duplex';
	font-style: normal;
	font-weight: 500;
	src: url('/Hershey-Noailles-Futura-Duplex-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Hershey-Noailles-Futura-Duplex-Bold';
	font-style: bold;
	font-weight: 700;
	src: url('/Hershey-Noailles-Futura-Duplex-Bold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Hershey-Noailles-Times-Duplex-Italic-Light';
	font-style: italic;
	font-weight: 500;
	src: url('/Hershey-Noailles-Times-Duplex-Italic-Light.woff') format('woff');
	font-display: swap;
}

b,
strong {
	font-family: 'Hershey-Noailles-Futura-Duplex-Bold', 'Hershey-Noailles-Futura-Duplex', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'Hershey-Noailles-Futura-Duplex', 'Arial', sans-serif;
	background-color: rgb(255, 255, 248);
}

input {
	mix-blend-mode: multiply;
}

input.always-display-spinner[type='number']::-webkit-inner-spin-button,
input.always-display-spinner[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}
